body {
	background: lavender;
	font-family: Helvetica, Arial, sans-serif;
}

p {
    font-family: "Times New Roman";
}

h1 {
	font-weight: bold;
	font-size: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-family: cursive;
    color: rgb(196, 150, 238);
}

.gif-button {
	font-size: 14px;
	background: rgb(196, 150, 238);
	border: none;
	padding: 10px 15px;
	margin: 6px;
    border-radius: 10px;
}

.wrapper {
	margin: 60px 0 60px 60px;
}

#new-gif-input {
	padding: 10px 15px;
	font-size: 14px;
	border: none;
	border-radius: 10px;
}

#add-gif-button {
	font-size: 15px;
	color: white;
	border: none;
	padding: 10px 15px;
	margin: 6px;
    border-radius: 10px;
    background-color: rgb(173, 134, 209);;
}

#button-group {
	margin-right: 20px;
	margin-bottom: 15px;
}

.result-container {
	margin: 30px 30px 0 0;
}

.results-container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

p {
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 0 0 6px 4px;
}